################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientApp/.vscode
/ClientApp/src/assets/.gitkeep
